body {
  background: linear-gradient(#ffd6e8, #fff);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

.container {
  padding: 30px;
}

h1 {
  color: #ff4d88;
}

.main-img {
  width: 220px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cute-text {
  font-size: 18px;
  color: #555;
}

.buttons a {
  display: inline-block;
  margin: 15px;
  padding: 12px 20px;
  background: #ff85b3;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.buttons a:hover {
  background: #ff4d88;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}

.message {
  font-size: 18px;
  color: #444;
  max-width: 500px;
  margin: auto;
}

.back {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #ff4d88;
  font-weight: bold;
}
.music-btn {
  background: #ff85b3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.music-btn:hover {
  background: #ff4d88;
}
.letter {
  background: white;
  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;
  max-width: 320px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-size: 15px;
  color: #444;
}

.back {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #ff4d88;
  font-weight: bold;
}
